@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: hsl(0, 0%, 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.banner {
  background: url('/images/home-banner-img.png') center center/cover no-repeat;
  min-height: calc(100vh - 108px);
}

.ripple-button {
  position: relative;
  overflow: hidden;
}

.ripple-button::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width 0.4s, height 0.4s;
}

